In [1]:
import pandas as pd

In [5]:
sample_data = {
    "weekdays" : ["Sunday", "Monday", "Tuesday"],
    "test_score" : [10,20,30]
}

In [8]:
df = pd.DataFrame(sample_data)

In [9]:
df

  weekdays  test_score
0   Sunday          10
1   Monday          20
2  Tuesday          30

In [11]:
df.loc[1]

weekdays      Monday
test_score        20
Name: 1, dtype: object